In [1]:
print("Hello world")

Hello world

In [2]:
# Python 

'''This is a 
multiline comment

'''

'This is a \nmultiline comment\n\n'

In [3]:
sttr = 'String'
age = 21
weight = 75.5

In [8]:
print( 3+5)
print(  3-5)
print( 3*5)
print(15/5)
print( 3**5)
print( 14//5)
81*3

8
-2
15
3.0
243
2

243

In [10]:
print("This is a \'")

This is a '

In [11]:
ml = ''' this is a multiline
string and this will keep 
going
'''
print(ml)

 this is a multiline
string and this will keep
going

In [15]:
print('this is print statement 1', end=",")
print('this is print statement 2')
print("this "*10)

this is print statement 1,this is print statement 2
this this this this this this this this this this

In [16]:
# Lists
colleges = ['College of engineering','A','B','C']
print(colleges[0])
colleges[2] = "COE"
print(colleges[2])
print(colleges)
print(colleges[1:3])
list2 = ['table', 'chair', 'fan', 'clothes', 'bottle']

College of engineering
COE
['College of engineering', 'A', 'COE', 'C']
['A', 'COE']

In [18]:
list2.append('microphone')
list2.insert(3, 'speaker')
print(list2)
list2.remove('microphone')
print(list2 + ['pillow', 'tubelight', 'bed'])
print(list2)
print(len(list2))
print(max(list2))
print(min(list2))

['table', 'chair', 'fan', 'speaker', 'clothes', 'bottle', 'microphone', 'microphone']
['table', 'chair', 'fan', 'speaker', 'clothes', 'bottle', 'microphone', 'pillow', 'tubelight', 'bed']
['table', 'chair', 'fan', 'speaker', 'clothes', 'bottle', 'microphone']
7
table
bottle

In [19]:
# Tuples
tupple1 = (1, 2, 3)
list1 = list(tupple1)
print(list1)
print(tupple1[0])

[1, 2, 3]
1

In [20]:
# Dictionaries

names = {'Ali': 22,
         'AR': 41,
         'AQ': 19,
         'SG': 82}

print(names['SG'])
names['AR'] = 55
print(names['AR'])
print(names.keys())
print(names.values())

82
55
dict_keys(['Ali', 'AR', 'AQ', 'SG'])
dict_values([22, 55, 19, 82])

In [22]:
print("Enter Your Marks")
number= int(input())
print(number)
if (number>90 or number<100):
    grade = 'A'
elif (number>80 and number<100):
    grade = 'B'
else:
    grade = 'Dont Know'

print("The grade is", grade)

Enter Your Marks
50
50
The grade is A

In [23]:
print("How many times we  want to execute")
no = int(input())
for i in range(0,no):
    print(i)
list1 =[[1,2,3], [4,5,6], [7,8,9]]
for item in list1:
    for i in item:
        print(i)

How many times we  want to execute
10
0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9

In [24]:
def average(num1, num2):
    return (num1+num2)/2

print(average(2, 3))

2.5

In [27]:
string1 = "that's"
print(string1[0:2])
print(string1[-2:])
print(string1[:-2])
print(string1.capitalize())
print(string1.find("th"))
print(string1.replace("'s", "are"))

th
's
that
That's
0
thatare